@media screen and (max-width:600px) {
    .banner-container{
        flex-direction: column;
        gap: 30px;
        margin-bottom: 50px;
    }
    .image-container{
        width: 100%;
        text-align: center;
    }
    .image{
        width: 350px;
        height: 450px;
    }
}